{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Telemed">
    <meta name="generator" content="Mini.Telemed">
    <title>Instruction</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://nst1.gismeteo.ru/assets/flat-ui/legacy/css/informer.min.css">
    <style>
        .gsLinks {
            display: none !important;
        }
        body {
            padding: 5px;
            width: 1000px !important;
            font-size: 120%;
        }
        .gsTemp, .gsAddInfo2 {
            font-size: 18px !important;
        }
    </style>
</head>
<body>
<div class="container-fluid">
<div class="row">
    <div class="col-3">
        {#        Код Информера #}
        <div id="gsInformerID-0WY64O71KVnQ2n" class="gsInformer" style="width:200px;height:141px">
            <div class="gsIContent">
                <div id="cityLink">
                    <a href="https://www.gismeteo.ru/weather-perm-4476/" target="_blank" title="Погода в Перми">
                        <img src="https://nst1.gismeteo.ru/assets/flat-ui/img/gisloader.svg" width="24" height="24" alt="Погода в Перми">
                    </a>
                </div>
                <div class="gsLinks">
                    <table>
                        <tr>
                            <td>
                                <div class="leftCol">
                                    <a href="https://www.gismeteo.ru/" target="_blank" title="Погода">
                                        <img alt="Погода" src="https://nst1.gismeteo.ru/assets/flat-ui/img/logo-mini2.png" align="middle" border="0" width="11" height="16" />
                                        <img src="https://nst1.gismeteo.ru/assets/flat-ui/img/informer/gismeteo.svg" border="0" align="middle" style="left: 5px; top:1px">
                                    </a>
                                </div>
                                <div class="rightCol">
                                    <a href="https://www.gismeteo.ru/weather-perm-4476/2-weeks/" target="_blank" title="Погода в Перми на 2 недели">
                                        <img src="https://nst1.gismeteo.ru/assets/flat-ui/img/informer/forecast-2weeks.ru.svg" border="0" align="middle" style="top:auto" alt="Погода в Перми на 2 недели">
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        {# Код Информера #}
    </div>
    <div class="col-9">
        {{ instruction.text }}
    </div>
</div>
</div>

<script async src="https://www.gismeteo.ru/api/informer/getinformer/?hash=0WY64O71KVnQ2n"></script>
</body>
</html>
